*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  overflow-x: hidden;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
  padding: 10px;
  font-size: 1rem;
}

.wrapper{
  width: 100vw;
  margin-top: 10px;
  border: 10px solid rgba(0, 0, 0, 0.459);
  display: flex;
  flex-wrap: wrap;
  min-height: 50px;
}

.box{
  width: 40px;
  height: 40px;
  border: 1px solid lime;
}

.red-box{
  background-color: red;
}